<div class="checkbox mt-4 mb-2">
  <% if current_user && current_user.admin %>
    <label>
      <%= f.check_box :admin %> Check to make this user admin
    </label>
  <% end %>
</div>
<div class="form-floating">
  <%= f.text_field :name, class: "form-control", id: "floatingName", placeholder: "John Doe" %>
  <%= f.label :name, for: "floatingName" %>
</div>
<div class="form-floating">
  <%= f.email_field :email, class: "form-control", id: "floatingEmail", placeholder: "name@example.com" %>
  <%= f.label :email, for: "floatingEmail" %>
</div>
