<section class="d-flex align-items-center" style="height: 93.5vh; width: 100vw;">
  <main class="form-signin text-center m-auto" style="width: 100%; max-width: 330px; padding: 15px;">

    <% if flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show mx-auto mb-5" style="width:300px;" role="alert">
        <%= flash[:alert] %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if @alert %>
      <h3><%= @alert %></h3>
        <% @errors.each do |m| %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= m %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
    <% end %>

    <%= image_tag "Exilic-Logo-03-Square-Black.png", alt: "logo", width: "75", height: "75" %>
    <h1 class="h3 mb-3 fw-normal">Change Password</h1>

    <%= form_with model: @user, url: password_path(@user) do |f| %>
      <div class="form-floating">
        <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "**********" %>
        <%= f.label "New Password", for: "floatingPassword" %>
      </div>
      <div class="form-floating">
        <%= f.password_field :password_confirmation, class: "form-control", id: "floatingPasswordConfirmation", placeholder: "Confirm Password" %>
        <%= f.label "Confirm Password", for: "floatingPasswordConfirmation" %>
      </div>
      <div class="mb-4">
        <%= f.submit "Submit", class:"w-100 btn btn-lg btn-primary" %>
      </div>
      
      <p><%= link_to "Back to User Info", @user %></p>
    <% end %>

  </main>
</section>