    <%= form_with model: event, role: "group" do |f| %>
      <div>
        <input type="checkbox" name="event[onsite]" class="btn-check" id="btn-check-outlined" autocomplete="off" <%= 'checked' if event.onsite %>>
        <label class="btn btn-outline-warning" for="btn-check-outlined" style="height: 40px; width: 333px;">On_Site?</label>
      </div>
      <div class="form-floating">
        <%= f.date_field :date, class: "form-control", id: "floatingWhen", placeholder: "Date?" %>
      </div>
      <div class="form-floating">
        <%= f.time_field :time, class: "form-control", id: "floatingWhen", placeholder: "Time?" %>
      </div>
      <div class="form-floating">
        <%= f.text_field :title, class: "form-control", id: "floatingTitle", placeholder: "Event Title" %>
        <%= f.label :title, for: "floatingTitle" %>
      </div>
      <div class="form-floating">
        <%= f.number_field :spots, class: "form-control", id: "floatingspots", placeholder: "Available Spots" %>
        <%= f.label :spots, "Available Spots", for: "floatingspots" %>
      </div>
      <div class="form-floating">
        <%= f.text_area :description, class: "form-control", id: "floatingDescription", placeholder: "Event Description", style: "height: 100px;" %>
        <%= f.label :description, for: "floatingDescription" %>
      </div>
      <div>
        <%= f.submit class:"w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>